<div class="content">
  @if (!signUpMode()) {
    <form class="content__rows" (submit)="$event.preventDefault(); signInSubmit()">
      <div class="content__row">
        <mat-form-field class="width-100">
          <mat-label>E-mail</mat-label>
          <input matInput [formControl]="emailControl" placeholder="">
          @if (emailControl.invalid) {
            <mat-error>{{errorMessage()}}</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="content__row">
        <button mat-flat-button class="width-100">Entrar</button>
      </div>

      <div class="content__row">
        <div>
          Não tem uma conta?
          <button mat-button type="button" (click)="enterSignUpMode()">Criar conta</button>
        </div>
      </div>

    </form>
  }
  @else {
    <div class="content__rows">
      <app-account-form></app-account-form>
      <div class="content__row">
        <button mat-flat-button class="width-100" (click)="signUp()">Cadastro</button>
      </div>
    </div>
  }
</div>
